@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500;600;700;900&display=swap');
@import '../vars';
@import './Page2_AboutUs_Header-vars';
@import '../template_header';
@import '../template';