//header background image url
$header-bg-img-xl: url(../../assets/img/Page1_Home_img/background/header__page_home_xl.png);
$header-bg-img-l: url(../../assets/img/Page1_Home_img/background/header__page_home_l.png);
$header-bg-img-m: url(../../assets/img/Page1_Home_img/background/header__page_home_m.png);
$header-bg-img-s: url(../../assets/img/Page1_Home_img/background/header__page_home_s.png);

//header text area width
$text-content-w-xl: 1fr;
$text-content-w-l: 1fr;
$text-content-w-m: 1fr;

//header height (without headline)
$header-h-xl: 800px;
$header-h-l: 772px;
$header-h-m: 752px;
$header-h-s: 376px;